body {
    padding: 50px;
    background: white;
    color: black;
}

h1 {
    font-family: 'Helvetica neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 48px;
    font-weight: 300;
    color: #999;
    text-align: center;
}

#notSupported {
    display: none;
}

#notSupported h1 {
    color: #b41a1a;
    margin-bottom: 20px;
}

#notSupported img {
    display: block;
    margin: 0 auto;
}

#ascii {
    font-family: 'Courier New', 'Courier', monospace;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: -1.5px;
    text-align: center;
}

#fork,
#idevelop {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 30px;
    padding: 10px 50px 10px 10px;
    background: url('../img/github-logo.png') #100404 no-repeat 95% 50%;
    border: 1px solid #170505;
    border-top: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#fork:hover,
#idevelop:hover {
    text-decoration: underline;
}

#idevelop {
    border: 1px solid #eee;
    border-top: 0;
    color: #333;
    right: 200px;
    background: url('../images/idevelop.png') #fff no-repeat 95% 50%;
}

.controls {
    text-align: center;
    display: flex; /* Make controls flex container */
    justify-content: center; /* Center content horizontally */
    margin-top: 20px; /* Adjust as needed */
}

.controls button {
    margin: 0 5px; /* Adjust spacing between buttons */
    width: 150px; /* Adjust button width */
	height: 50px; /* Adjust button height */
}

.invert-colors {
    background-color: black;
    color: white;
}

/* Center the controls */
.controls {
    text-align: center;
    margin-top: 20px;
}

/* Button style */
.controls button {
    margin: 0 5px;
    width: 150px;
}

/* Toggle container style */
.toggle-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

/* Toggle checkbox style */
.toggle-checkbox {
    display: none;
}

/* Toggle label style */
.toggle-label {
    display: inline-block;
    width: 50px;
    height: 30px;
    background-color: #2a2a2a;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

/* Toggle label indicator style */
.toggle-label:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
}

/* Toggle checkbox checked state */
.toggle-checkbox:checked + .toggle-label {
    background-color: #0F0; /* Green color for checked state */
}

/* Toggle label indicator position for checked state */
.toggle-checkbox:checked + .toggle-label:before {
    left: calc(100% - 27px);
}

.made-by {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: italic;
    text-decoration: none;
    color: #3f0e0e; /* Default color */
}

.made-by:hover .text {
    color: #c61313; /* Change color on hover */
}

.made-by .text i {
    font-style: normal; /* Reset font style for italic */
}

/* Apply the fade-in animation to elements */
.fade-in {
    opacity: 0; /* Start with 0 opacity */
    animation: fadeIn ease-in-out 0.5s forwards; /* Animation duration and timing function */
}

/* Define the keyframes for the fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0; /* Start with 0 opacity */
    }
    to {
        opacity: 1; /* End with 1 opacity */
    }
}
 